@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');

* { margin: 0px }

body {
    margin: 0px;
    background-color: rgb(43, 38, 44);
    color: white;
}

.site-container {
    /* background-color: rgb(0, 0, 0); */

    /* display: flex; */
    width: 800px;
    margin: auto;
}

.column {
    display: block;
    float: left;
}

.sidebar {
    /* background-color: rgba(255, 0, 0, 0.125); */
    border-right: rgba(255, 255, 255, 0.25) 1px solid;
    border-left: rgba(255, 255, 255, 0.25) 1px solid;
    width: 297px;
    float: left;

    display: block;
    height: 100%;
    /* padding: 0px; */
    position: fixed;
    top: 0;
}

.sidebar ul {
    list-style: none;
    text-decoration: none;
}

.sidebar ul li a {
    display: block;
    padding: 5px 0px 5px 10px;
    width: 175px;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;

    transition-property: background-color;
    transition-duration: 0.25s;
}

.sidebar ul li a.title {
    font-size: 36px;

    font-family: 'Righteous', sans-serif;
    margin-bottom: 30px;
}

.sidebar ul li a:not(.title):hover {
    background-color: rgba(255, 255, 255, 0.25)
}

.sidebar ul li .bottom {
    position: absolute;
    bottom: 0;
}

.main {
    /* background-color: rgba(0, 0, 255, 0.125); */
    width: 500px;
    max-width: 500px;
    float: right;
    padding: 0px;

    font-family: 'Open Sans', sans-serif;
    border-right: rgba(255, 255, 255, 0.25) 1px solid;;
}

.main .card {
    display: inline-flex;
    padding: 20px;
    padding-bottom: 20px;
}

.main .card-container {
    border-bottom: rgba(255, 255, 255, 0.25) 1px solid;
}

.main .card img {
    flex: 10%;
    max-height: 50px;
    border-radius: 50px;
}

.main .card .content {
    margin-left: 20px;
    flex: 90%;
    display: block;
    float: none;
}

.main .reactions {
    display: flex;
}

.reactions a {
    border-top: rgba(255, 255, 255, 0.25) 1px solid;
    text-decoration: none;
    display: block;
    padding: 5px;
    flex: 100%;
    text-align: center;
    color: white;

    transition-property: background-color;
    transition-duration: 0.25s;
}

.reactions a:not(:last-child) {
    border-right: rgba(255, 255, 255, 0.25) 1px solid;
}

.reactions a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.content .username {
    margin-bottom: 5px;
}